<form action="/" method="post" enctype="multipart/form-data">
    <input type="text" name="url" id="url">
    <input type="file" name="file[]" id="files" multiple>
</form>
<button id="submit">Upload</button>

<script src="jquery.js"></script>
<script src="s4-drive-upload.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $("#submit").click(function(){
        url = $("#url").val();
        files = $("#files")[0].files;
        s4MultiUpload(url, files, function(data){
            alert(data);
        })
    })
})
</script>